 header{
     
     position: fixed;
    background-color: rgb(228, 207, 207);
 }


/* nav a{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 10px;
    padding: 0px 10px;
    color: rgb(193, 144, 197);
    text-decoration: none;
    
} */

.Encontrar{
   
    padding: 10px;
    margin: 30px;
    align-content: center;
    color:  rgb(228, 207, 207);;
}

input{
    width: 350px;
    
}

nav{
    margin: 10px 0px;
    padding: 10px 0px;
    text-align: left;
    display: flex;
    justify-content: row;
    align-items: center;
    margin-left: 60vw;
}
nav a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 10px;
    padding: 0px 10px;
    color: rgb(85, 33, 90);
    text-decoration: none;
    text-align: center;
}